.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    .title a{
            font-family: 'Vonique-64', sans-serif;
    }

    .standard{
        display: flex;
        justify-content: end;
        gap: 60px;
        width: fit-content;
    }

    .hamburger{
        display: flex;
        position: relative;

        svg{
            font-size: 40px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .links{
            background: #222;
            padding-right: 80px;
            margin-right: -20px;
            display: flex;
            gap: 40px;
            
            &.desktop{
                padding: 10px 120px 0px 20px;
            }

            &.mobile{
                padding: 10px 120px 0px 20px;
            }

            a{
                color: white;
            }
        }
    }
}