.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .title a{
            font-family: 'Vonique-64', sans-serif;
    }

    .standard{
        display: flex;
        justify-content: end;
        gap: 60px;
        width: fit-content;
    }

    .hamburger{
        .links{
            display: flex;
            gap: 40px;
            background: #222;

            a{
                color: white;
            }
        }
    }
}