.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    &.mobile{
        // background-image: linear-gradient(white 85px, transparent);
        background-color: white;
    }

    .title a{
            font-family: 'Vonique-64', sans-serif;
    }

    .standard{
        display: flex;
        justify-content: end;
        gap: 60px;
        width: fit-content;

        >a:hover{
            text-decoration: underline solid 2px;
        }
    }

    .hamburger{
        display: flex;
        // position: relative;

        svg{
            font-size: 40px;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            background-color: #000;
            mix-blend-mode: difference;
            padding: 2px;
            cursor: pointer;

            path{
                color: #efefef;
            }
        }
        
        
        .links{
            background: #222;
            padding-right: 80px;
            position: absolute;
            top: 0;
            display: flex;
            gap: 40px;
            
            &.desktop{
                right: 0;
                padding: 25px 120px 0px 50px;
            }

            &.mobile{
                background: #222;
                padding: 100px 30px 50px 30px;
                flex-direction: column;
                text-align: end;
                left: 0;
                gap: 20px;
                width: 100%;
            }
            

            a{
                color: white;
            }
        }
    }
}