* { 
    box-sizing: border-box; 
}

body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Vonique-92';
    src: url(./assets/fonts/Vonique-92.otf);
}

@font-face {
    font-family: 'Vonique-64';
    src: url(./assets/fonts/Vonique-64.ttf);
}

@font-face {
    font-family: 'Vonique-64-italic';
    src: url(./assets/fonts/Vonique-64-italic.ttf);
}

@font-face {
    font-family: 'Vonique-64-bold';
    src: url(./assets/fonts/Vonique-64-bold.ttf);
}

@font-face {
    font-family: 'Vonique-64-bold-italic';
    src: url(./assets/fonts/Vonique-64-bold-italic.ttf);
}

@font-face {
    font-family: 'SourceSansPro-light';
    src: url(./assets/fonts/SourceSansPro-light.ttf);
}

@font-face {
    font-family: 'SourceSansPro-light-italic';
    src: url(./assets/fonts/SourceSansPro-light-italic.ttf);
}

@font-face {
    font-family: 'SourceSansPro-semibold';
    src: url(./assets/fonts/SourceSansPro-semibold.ttf);
}

@font-face {
    font-family: 'SourceSansPro-semibold-italic';
    src: url(./assets/fonts/SourceSansPro-semibold-italic.ttf);
}

/* DEFAULTS */
p {
    font-family: 'SourceSansPro-light', sans-serif;
}

a {
    font-family: 'Vonique-92', sans-serif;
    font-size: 40px;
    text-decoration: none;
}

h3 {
    font-family: 'Vonique-64', sans-serif;
}