* { 
    box-sizing: border-box; 
}

body,
h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Vonique-92';
    src: url(./assets/fonts/Vonique-92.otf);
}

@font-face {
    font-family: 'Vonique-64';
    src: url(./assets/fonts/Vonique-64.ttf);
}

@font-face {
    font-family: 'Vonique-64-italic';
    src: url(./assets/fonts/Vonique-64-italic.ttf);
}

@font-face {
    font-family: 'Vonique-64-bold';
    src: url(./assets/fonts/Vonique-64-bold.ttf);
}

@font-face {
    font-family: 'Vonique-64-bold-italic';
    src: url(./assets/fonts/Vonique-64-bold-italic.ttf);
}

@font-face {
    font-family: 'SourceSansPro-light';
    src: url(./assets/fonts/SourceSansPro-light.ttf);
}

@font-face {
    font-family: 'SourceSansPro-light-italic';
    src: url(./assets/fonts/SourceSansPro-light-italic.ttf);
}

@font-face {
    font-family: 'SourceSansPro-semibold';
    src: url(./assets/fonts/SourceSansPro-semibold.ttf);
}

@font-face {
    font-family: 'SourceSansPro-semibold-italic';
    src: url(./assets/fonts/SourceSansPro-semibold-italic.ttf);
}

:root {
    /*Colours */
    --fakeyys-black: #222222;
    --fakeyys-cream: #E2E2E2;
    --fakeyys-white: #FBFBFB;
  }

/* THEMES */
.dark-mode{
    background-color: var(--fakeyys-black);
    color: var(--fakeyys-white);
}

.light-mode{
    background-color: var(--fakeyys-white);
    color: var(--fakeyys-black);
}

/* DEFAULTS */
p {
    font-family: 'SourceSansPro-light', sans-serif;
    font-size: 20px;
    color: inherit;
}

a {
    font-family: 'Vonique-92', sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: inherit;
}

h2{
    font-family: 'Vonique-64-bold-italic', sans-serif;
    font-size: 35px;
    color: inherit;
}

h3 {
    font-family: 'Vonique-64', sans-serif;
    font-size: 25px;
    color: inherit;
}

/* DEFAULT PAGE LOGIC */
.page{
    width: 70%;
    margin: 0 auto;
    border: 2px black solid;

    /* HOME PAGE STYLING */
    &.home{
        .cta{
            position: absolute;
            right: 7%;
            bottom: 30%;
            
            h3{
                font-size: 80px;
            }
        }
        .creators{
            position: absolute;
            left: 20px;
            bottom: 0;

            h3{
                font-size: 35px;
            }
        }

        .time{
            position: absolute;
            right: 20px;
            bottom: 0;
        }
    }

    /* ABOUT PAGE STYLING */
    &.about{
        min-height: 80vh;
        align-items: center;
        display: flex;

        .content{
            width: 70%;

            h2{
                margin-bottom: 20px;
            }

            span{
                font-family: 'SourceSansPro-semibold-italic';
                text-decoration: underline;
            }

            .inspirations{
                display: flex;
                flex-direction: column;
                margin-top: 16px;

                a{
                    text-decoration: underline;
                    font-size: 20px;
                    margin-left: 6px;
                    font-family: 'SourceSansPro-semibold-italic';
                }
            }
        }
    }

    /* CATALOGUE PAGE STYLING */
    &.catalogue{
        margin-top: 60px;

        .content{
            .product-list{
                margin-top: 60px;
                display: flex;
                flex-wrap: wrap;
                gap: 6%;

                .product{
                    flex: 0 0 47%;
                    margin-bottom: 60px;

                    p{
                        font-family: 'Vonique-64-bold', sans-serif;
                    }
                    
                    >div{
                        display: flex;
                        justify-content: space-between;
                    }

                    img{
                        width: 100%;
                    }
                }
            }
        }
    }

}


/* RESPONSIVE */
@media screen and (max-width: 1145px) {
    .page{
        &.about{
            .content{
                width: 80%;
            }
        }
        &.catalogue{
            margin-top: 60px;
    
            .content{
                .product-list{
                    gap: 0%;
    
                    .product{
                        flex: 0 0 100%;
                    }
                }
            }
        }
    
    }
}

@media screen and (max-width: 650px) {
    .page{
        width: 80%;

        &.about{
            .content{
                width: 100%;
            }
        }
    }
}