* { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

// html,
// body {
//    margin: 0;
//    padding: 0;
// }
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    &.no-scroll {
        overflow-y: hidden;
    }
}

.wrapper {
    perspective: 15px;
  }

  #tiltable {
    // height:400px;
    transition: transform 0.5s;
    backface-visibility: hidden;
  }

h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@font-face {
    font-family: 'Vonique-92';
    src: url(./assets/fonts/Vonique-92.otf);
}

@font-face {
    font-family: 'Vonique-64';
    src: url(./assets/fonts/Vonique-64.ttf);
}

@font-face {
    font-family: 'Vonique-64-italic';
    src: url(./assets/fonts/Vonique-64-italic.ttf);
}

@font-face {
    font-family: 'Vonique-64-bold';
    src: url(./assets/fonts/Vonique-64-bold.ttf);
}

@font-face {
    font-family: 'Vonique-64-bold-italic';
    src: url(./assets/fonts/Vonique-64-bold-italic.ttf);
}

@font-face {
    font-family: 'SourceSansPro-light';
    src: url(./assets/fonts/SourceSansPro-light.ttf);
}

@font-face {
    font-family: 'SourceSansPro-light-italic';
    src: url(./assets/fonts/SourceSansPro-light-italic.ttf);
}

@font-face {
    font-family: 'SourceSansPro-semibold';
    src: url(./assets/fonts/SourceSansPro-semibold.ttf);
}

@font-face {
    font-family: 'SourceSansPro-semibold-italic';
    src: url(./assets/fonts/SourceSansPro-semibold-italic.ttf);
}

:root {
    /*Colours */
    --fakeyys-black: #222222;
    --fakeyys-cream: #E2E2E2;
    --fakeyys-white: #FBFBFB;
  }

/* THEMES */
.dark-mode{
    background-color: var(--fakeyys-black);
    color: var(--fakeyys-white);
}

.light-mode{
    background-color: var(--fakeyys-white);
    color: var(--fakeyys-black);
}

/* DEFAULTS */
p {
    font-family: 'SourceSansPro-light', sans-serif;
    font-size: 20px;
    color: inherit;
}

a {
    font-family: 'Vonique-92', sans-serif;
    font-size: 35px;
    text-decoration: none;
    color: inherit;
}

h2{
    font-family: 'Vonique-64-bold-italic', sans-serif;
    font-size: 35px;
    color: inherit;
}

h3 {
    font-family: 'Vonique-64', sans-serif;
    font-size: 25px;
    color: inherit;
}

.btn{
    border-radius: 15px;
    min-width: 200px;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #3689d2;
    transition: all ease-in-out .20s;
    font-family: 'SourceSansPro-light', sans-serif;
}

.btn:hover{
    background-color: #386e9c;
}

.divider{
    border: 0;
    border-bottom: 1px solid rgb(172, 172, 172);
    width: 100%;
    margin: 0 auto;
}

/* DEFAULT PAGE LOGIC */
.page{
    width: 70%;
    margin: 0 auto;

    /* HOME PAGE STYLING */
    &.home{
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .ThreeJSImg{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
        }
        .cta{
            position: absolute;
            padding: 10px 40px;
            border: black 2px solid;
            cursor: pointer;
            z-index: 1;
            
            h3{
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
            }

            &.desktop{
                right: 7%;
                bottom: 30%;
                border-radius: 25px;
                
                h3{
                    font-size: 80px;
                }
            }

            &.mobile{
                left: 50%;
                bottom: 16px;
                border-radius: 15px;
                width: 90%;
                max-width: 500px;
                text-align: center;
                transform: translateX(-50%) !important;

                h3{
                    font-size: 45px;
                }
            }
        }
        .cta-shadow{
            position: absolute;
            right: 7%;
            bottom: 30%;
            opacity: 15%;
            border: black 2px solid;
            padding: 10px 40px;
            border-radius: 25px;

            &.blue{
                color: rgb(54, 54, 190);
                border: rgb(54, 54, 190) 2px solid;

            }
            
            h3{
                font-size: 80px;
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
            }
        }
        .creators{
            position: absolute;
            

            &.desktop{
                left: 20px;
                bottom: 10px;

                h3{
                    font-size: 30px;
                    line-height: 1em;
                }
            }
            &.mobile{
                right: 0;
                bottom: 50%;
                transform: translateY(-50%);
                transform: rotate(-90deg);
                transform-origin: 85%;
                background: #3689d2;
                padding: 20px 30px;
                border-radius: 20px 20px 0 0;
                color: white;
                letter-spacing: 1px;

                h3{
                    font-size: 15px;
                    line-height: 1em;
                }
            }
        }

        .time{
            position: absolute;
            right: 20px;
            bottom: 10px;
        }
    }

    /* ABOUT PAGE STYLING */
    &.about{
        min-height: 100vh;
        align-items: center;
        display: flex;

        .content{
            width: 70%;

            h2{
                margin-bottom: 20px;
            }
            
            a{
                display: flex;
                align-items: center;
                gap: 12px;
                text-decoration: underline;
                font-size: 20px;
                margin-left: 6px;
                font-family: 'SourceSansPro-semibold-italic';
                margin-top: 10px;
            }

            span{
                font-family: 'SourceSansPro-semibold-italic';
                text-decoration: underline;
                display: inline-block;
            }

            .inspirations{
                display: flex;
                flex-direction: column;
                margin-top: 16px;

                &.mobile{
                    margin-top: 50px;
                }
            }
        }
    }

    /* CATALOGUE PAGE STYLING */
    &.catalogue{
        padding-top: 200px;
        width: 60%;

        #demoTest{
            // background-color: red;
            height: 100%;
            width: 100%;
            position: fixed !important;
            left: 0;
            top: 0;
            z-index: -1;
            opacity: 80%;
            background: white;
        }

        .canvas{
            position: absolute !important;
            left: 0;
            top: 0;
        }

        
        .back-arrow{
            position: fixed;
            top: 20px;
            left: 20px;
            font-size: 40px;
            cursor: pointer;
            transition: all 0.25s ease-out;
            color: #0f0f0f;
            height: 80px;
            z-index: 3;

            &.show{
                opacity: 1;
            }

            &.hide{
                opacity: 0;
            }
        }

        .back-arrow:hover{
            font-size: 45px;
            color: var(--fakeyys-white);
        }

        .content{
            .page-header{
                h2{
                    font-size: 50px;
                    mix-blend-mode: difference;
                    color: white;
                }
            }
            .product-list{
                margin-top: 60px;
                display: flex;
                flex-wrap: wrap;
                gap: 6%;
                z-index: 0;
                position: relative;

                &.z-increase{
                    z-index: 2;
                }

                .product{
                    position: relative;
                    left: auto;
                    top: auto;
                    flex: 0 0 47%;
                    margin-bottom: 60px;
                    z-index: 0;
                    cursor: pointer;

                    p{
                        font-family: 'Vonique-64-bold', sans-serif;
                        letter-spacing: 1px;
                    }
                    
                    .content{
                        padding: 10px;

                        .head{
                            display: flex;
                            justify-content: space-between;
                        }
                    }

                    img{
                        width: 100%;
                        box-shadow: 1px 12px 18px 4px rgba(0,0,0,0.2);
                        -webkit-box-shadow: 1px 8px 12px 0px rgba(0, 0, 0, 0.1);
                        -moz-box-shadow: 1px 12px 18px 4px rgba(0,0,0,0.2);
                    }


                }

                .popup-container{
                    width: 70vw;
                    max-width: 800px;
                    margin: auto;
                    position: fixed;
                    top: 0;
                    left: 50%;
                    height: 100vh;
                    z-index: 2;

                    .popup{
                        // position: fixed;
                        // transform-origin: 50% 50% 0px;
                        transform: translateX(-50%) !important;
                        left: 50% !important;
                        top: 0 !important;
                        height: auto;
                        overflow-y: auto; 
                        scale:1;
                        
    
                        
                        
                        .content{
                            margin: 20px 0;
    
                            .head{
                                display: flex;
                                justify-content: space-between;
    
                                .product-title{
                                    text-transform: uppercase;
                                }
                                
                                p{
                                    font-family: 'Vonique-64-bold', sans-serif;
                                }
                            }
                            .foot{
                                display: flex;
                                flex-direction: row;
                                gap: 60px;
                                align-items: end;
                                margin-top: 20px;
                                
    
                                button{
                                    min-width: fit-content;
                                    padding: 20px;
                                    background: transparent;
                                    border: 2px black solid;
                                    font-family: 'SourceSansPro-semibold', sans-serif;
                                    font-size: 20px;
                                    cursor: pointer;
                                    transition: all .25s ease-in;
                                    mix-blend-mode: difference;
                                    color: var(--fakeyys-black);
                                }
    
                                button:hover{
                                    background: rgb(226, 46, 46);
                                    color: var(--fakeyys-white);
                                    border: 2px var(--fakeyys-white) solid;
                                }
                            }
                        }
    
                        img{
                            width: 100%;
                        }
                    }
                }
                

                .backdrop{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // background-color: rgba(34, 34, 34, 0.25);
                    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, #fffffff0 30%, #ffffffc9 70%, rgba(255, 255, 255, 0) 90%);
                    z-index: 1;
                }
            }
        }
    }

    /* ERROR PAGE STYLING */
    &.error{
        display: flex;
        height: 100dvh;

        .error-container{
            margin: auto;
            width: fit-content;
            max-width: 400px;
            text-align: center;

            .image-container{
                align-items: center;
                display: flex;
                height: 38vh;
                position: relative;
                justify-content: center;
                z-index: -1;
                
                  .title {
                    color: #000000;
                    font-size: 200px;
                    font-weight: 700;
                    padding: 0 20px;
                    position: absolute;
                    text-align: center;
                    text-transform: uppercase;
                  }
                  
                  .stroked-title {
                    color: transparent;
                    -webkit-text-stroke: 4px white;
                  }
                  
                  .image {
                    border-radius: 20px;
                    position: fixed;
                    width: 200px;
                    border-radius: 10px;
                  }
            }

            h3, a{
                padding-top: 20px;
            }

            a{
                font-size: 20px;
                font-family: 'SourceSansPro-semibold', sans-serif;
                color: #3689d2;
            }
        }
    }

}

.fixed-playground{
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;

    video{
        width: 100%;
        aspect-ratio: 16/9;
    }
}


/* RESPONSIVE */
@media screen and (max-width: 1600px) {
    .page{
        &.home{
            .cta{
                &.desktop{                    
                    h3{
                        font-size: 60px;
                    }
                }
            }
            .cta-shadow{
                h3{
                    font-size: 60px;
                }
            }
        }    
    }
}
@media screen and (max-width: 1145px) {
    .page{
        &.about{
            .content{
                width: 80%;
            }
        }
        &.catalogue{    
            .content{
                .product-list{
                    gap: 0%;
    
                    .product{
                        flex: 0 0 100%;
                    }
                }
            }
        }
    
    }
}

@media screen and (max-width: 650px) {
    .page{
        width: 80%;

        &.home{
            .cta{
                &.mobile{                    
                    h3{
                        font-size: 40px;
                    }
                }
            }

            .creators{
                &.mobile{
                    display: none;
                }
            }
        } 

        &.about{
            .content{
                width: 100%;
            }
        }

        &.catalogue{
            width: 90%;

            .back-arrow{
                font-size: 30px;
                height: auto;
                z-index: 3;
            }
    
            .content{
                .product-list{
                    .popup-container{
                        .popup{
                            width: 100vw;

                            .content{
                                width: 90%;
                                margin: 0 auto;

                                .foot{
                                    flex-direction: column-reverse;
                                }
                            }
                        }
                    }

                    
                }
            }
        }
    }
}